.content__container {
  display: flex;
  flex-direction: row;
  column-gap: 85px;
  flex-wrap: nowrap;
  @media (max-width: 1279px) {
    flex-direction: column;
    align-items:  center;
    row-gap: 30px;
  }
}