.pagination {
  margin: 24px 13px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 11px;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  @media (max-width: 768px) {
    margin-right: 0;
    justify-content: center;
  }
  @media (max-width: 375px) {
    flex-direction: column;
    row-gap: 16px;
  }
}

.pagination__btns {
  display: flex;
  justify-content: center;
  list-style: none;
  @media (max-width: 375px) {
   order: -1;
  }
}

.pagination__btns li {
  margin: 0px 5px;
}

.pagination__btns a {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}

.pagination__active a {
  background-color: $second-color;
  border-radius: 3px;
  color: white;
}

.pagination__disabled .next__arrow {
  background-image: url("../../img/disabledArrow.svg");
  transform: rotate(0deg);
}

.pagination__disabled .previous__arrow {
  background-image: url("../../img/disabledArrow.svg");
  transform: rotate(180deg);
}

.pagination__next {
  display: flex;
  align-items: center;
}

.next__arrow {
  width: 8px;
  height: 12px;
  background-image: url("../../img/activeArrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: rotate(180deg);
}

.pagination__previous {
  display: flex;
  align-items: center;
}

.previous__arrow {
  width: 8px;
  height: 12px;
  background-image: url("../../img/activeArrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
